{{!-- Homepage Carousel --}}
<div class="hero">
    <div id="carousel-home" class="carousel">
        {{#get "posts" limit="10" include="tags" filter="tags:carousel" as |carousel|}}
        {{#foreach carousel}}
            <div class="hero-body">
                <article class="item">
                    <a href="{{url}}" class="hover-effect">
                        <span class="overlay"></span>		
                        <span class="cover" style="background: url({{img_url feature_image size="carousel"}});
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        "></span>
                        <div class="meta grid-container grid-parent">
                            <h6 class="title">{{title}}</h6>
                            <div class="level is-mobile">
                                <div class="level-left">
                                    {{#if tags}}
                                        <div class="level-item buttons">
                                            {{#foreach tags limit="2"}}
                                                <span class="button is-small is-white  has-text-weight-semibold">{{name}}</span>
                                            {{/foreach}}
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="level-right">
                                    <time class="level-item" datetime="{{date format='YYYY-MM-DD'}}">
                                        <i class="far fa-clock"> </i>&nbsp;{{date format='MMM, Do'}}
                                    </time> 
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                    
                </article>
            </div>
        {{/foreach}}
		{{/get}}
    </div>
</div>

{{!-- carousel properties --}}
<script>
    bulmaCarousel.attach('#carousel-home', {
        slidesToScroll: 1,
        slidesToShow: 4
    });
</script>