{{!-- Homepage Showcase 2019.05.27--}}

{{!-- slick: css --}}

<section class="section showcase" id="showcase">
    <div class="columns">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            <div class="columns">
                {{!-- carousel start--}}

                <div class="column is-7">
                    <div class="glider">

                        <div class="glide__track" data-glide-el="track">

                            <ul class="glide__slides">
                                {{!-- get 10 posts with tag #carousel as --}}
                                {{#get "posts" limit="6" include="tags,authors" filter="tags:[hash-carousel]" as
                                |carousel|}}
                                {{#foreach carousel}}

                                <li class="glide__slide">
                                <div class="roll">
                                    <a href="{{url}}">
                                        <img src="{{img_url feature_image size=" large"}}" alt="{{feature_image_alt}}">
                                        <h2 class="slide-txt is-size-4 is-size-5-mobile has-text-white has-text-weight-semibold has-text-shadow-black">
                                            {{title}}
                                        </h2>
                                    </a>
                                </div>
                                </li>
                                

                                {{/foreach}}
                                {{/get}}
                            </ul>

                        </div>

                    </div>

                </div>

                {{!-- carousel end --}}

            
            {{!-- top-featured start --}}
            <div class="column is-5">
                {{#get "posts" limit="2" include="tags" filter="featured:true" as |top-featured|}}
                <div class="top-featured">
                    {{#top-featured}}
                    <div class="tf-item img-bg box has-shadow-lift can-scale"
                        style="background-image: url({{img_url feature_image size=" medium"}});background-position:
                        center center;background-repeat: no-repeat;background-size: cover;">

                        <a href="{{url}}" rel="bookmark" class="link-block"></a>
                        <div class="tf-meta bg-grad-b">
                            <a href="{{url}}" rel="bookmark" class="link-block"></a>

                            {{#primary_tag}}
                            <div class="tf-tag">
                                <a href="{{url}}" class="is-montserrat">{{name}}</a>
                            </div>
                            {{/primary_tag}}


                            <a href="{{url}}">
                                <h2 class="is-size-5 has-text-white has-text-weight-semibold has-text-shadow-black">
                                    {{title}}</h2>
                            </a>
                        </div>
                    </div>
                    {{/top-featured}}
                </div>
                {{/get}}
            </div>
            <div class="column is-hidden-touch"></div>
            {{!-- top-featured end --}}
        </div>
    </div>

    <div class="column is-hidden-touch"></div>
    </div>
</section>