{{!-- single author page --}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- author meta --}}
{{#author}}
{{#if cover_image}}
<section class="hero tag-list-header is-bold bg-cover-center" style="background-image:url({{img_url cover_image size="wide"}});">
{{else}}
<section class="hero tag-list-header is-bold bg-cover-center" style="background-image: linear-gradient(to bottom right, #3f0fff, #fc3b3b);">
{{/if}}
  <div class="hero-body has-dark-modal is-montserrat">
    <div class="about-author container has-text-centered">
        {{#if profile_image}}
        <figure class="image is-96x96 is-margin-auto">
            <img class="image-squared is-rounded" src="{{img_url profile_image size="small"}}" alt="{{name}}" title="{{name}}">
        </figure>
        {{/if}}
        <h1 class="title has-padding-05 has-text-white">
            {{name}}
        </h1>
        <h2 class="subtitle has-text-white">
            {{!-- {{plural pagination.total empty='No posts' singular='% post' plural='% posts'}} --}}
        <ul class="meta-info is-size-6">
            <li class="has-text-weight-bold">{{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</li>
            <li>|</li>
            {{#if twitter}}<li><a href="{{twitter_url}}" class="has-text-white" target="_blank"><i class="iconfont icon-twitter"></i></a></li>{{/if}}
            {{#if facebook}}<li><a href="{{facebook_url}}" class="has-text-white" target="_blank"><i class="iconfont icon-facebook"></i></a></li>{{/if}}
            {{#if website}}<li><a href="{{website}}" class="has-text-white" target="_blank"><i class="iconfont icon-link"></i></a></li>{{/if}}
            {{#if location}}<li><i class="iconfont icon-location"></i> {{location}}</li>{{/if}}
        </ul>
        </h2>
        <div class="has-text-white is-centered is-margin-auto" style="max-width:760px;">
            {{#if bio}}
                {{bio}}
            {{/if}}
        </div>
    </div>
  </div>
</section>
{{/author}}

{{!-- main --}}
<main class="section">
    <div class="columns">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            {{#foreach posts}}
            
                {{!-- exclude #noindex --}}
                {{#has tag="#noindex"}}
                    {{!-- nothing --}}
                {{else}}
                    {{> list_card}}
                {{/has}}

                {{!-- inject something for every 3 items --}}
                {{#has number="nth:3"}} 
                    {{!-- {{> "something"}} --}}
                {{/has}}

            {{else}}
                {{t "There is no post yet."}}
            {{/foreach}}
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</main>

{{!-- pagination --}}
<section class="section is-padding-top-05">
    <div class="container">
        {{pagination}}
    </div>
</section>

