<!DOCTYPE html>
<html lang="{{@site.lang}}" class="has-spaced-navbar-fixed-top">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    {{!-- This tag outputs SEO meta + structured data and Code injections in Site Header--}}
    {{ghost_head}}

    {{!-- main css --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}" />

    {{!-- Google Fonts--}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
    {{!-- Google Fonts Localized --}}
    {{!-- <link rel="stylesheet" type="text/css" href="{{asset 'css/font.css'}}" /> --}}

    {{!-- Bulma v0.7.5 --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    {{!-- <link href="https://cdn.bootcss.com/bulma/0.7.5/css/bulma.min.css" rel="stylesheet"> --}}

    {{!-- KaTeX: css --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
    
    {{!-- Prismjs: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

</head>

<body class="has-background-light-line">

    {{!-- header --}}
    {{> header}}

    {{!-- body --}}
    {{{body}}}

    {{!-- foot --}}
    {{> footer}}

    {{!-- ghost-search --}}
    <script src="https://unpkg.com/@tryghost/content-api@1.2.3/umd/content-api.min.js"></script>
    <script type="text/javascript" src="{{asset "js/ghost-search.min.js"}}"></script>
    <script type="text/javascript">
        let ghostSearch = new GhostSearch({
            key: search_key, // set var search_key in Site Header
            host: search_url, // set var search_url in Site Header
            input:   '#search-input',
            results: '#search-results',
            options: {
                limit: 10
            },
            template: function(result) {
                let url = [location.protocol, '//', location.host].join('');
                return '<a class="navbar-item" href="' + url + '/' + result.slug + '/">' + result.title + '</a>';  
            },
            on: {
                afterDisplay: function(results){
                    if (results.total == 0 && document.getElementById('search-input').value != '') {
                        let resultsElement = document.getElementById('search-results');
                        let e = document.createElement('p');
                        e.innerHTML = "<a class='navbar-item'>{{t 'No results'}}</a>";
                        resultsElement.appendChild(e.firstChild);
                    };
                }
            }
        })
    </script>

    {{!-- This tag outputs Code injections in Site Footer--}}
    {{ghost_foot}}

    {{!-- gallery popup --}}
    <script src="{{asset 'js/popup.min.js'}}"></script>

    {{!-- jquery: for carousel + prismjs --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    {{!-- import js --}}
    <script src="{{asset 'js/main.js'}}"></script>
    
    {{!-- carousel: js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#carousel-home').slick({
                autoplay: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows:false,
                dots: false,
                centerMode: false,
                focusOnSelect: false
            });
        });      
    </script>
    
    {{!-- switches: showcase & support_fizzy --}}
    <script>
        if (typeof show_showcase == 'undefined') {var show_showcase = false;};
        if (show_showcase){$('#showcase').removeClass("is-hidden");};
        if (typeof fizzy_credit == 'undefined') {var fizzy_credit = true;};
        if (fizzy_credit){$('#fizzy-credit').removeClass("is-hidden");};
    </script>
</body>
</html>