{{!-- 404 error --}}

{{!< default}}

<main class="section">
    <div class="columns">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            <div class="box has-text-centered">
                <div class="error-wrap">
                    <h1 class="error-code">{{statusCode}}</h1>
                    <h2 class="title error-message">{{message}}</h2>
                    <p class="message-manual is-montserrat">{{t "Maybe the URL is not correct, or the page is no longer exist."}}</p>
                    <a class="button subtitle has-text-weight-semibold is-danger is-rounded is-montserrat" href="{{@site.url}}"><i class="iconfont icon-home"> </i> &nbsp; {{t "Go to home page"}}</a>
                </div>
            </div>
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</main>