{{!< default}}

{{#post}}
<section class="section is-mobile-paddingless">
    <div class="columns">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            <article class="single-article">
                <div class="box is-paddingless is-shadowless is-full-mobile is-centered is-clipped">

                    {{!-- featured_image --}}
                    {{#if feature_image}}
                    <section class="featured-image">
                        <div class="featured-image" style="background-image:url({{img_url feature_image size="wide"}});"></div>
                    </section>
                    {{/if}}
                    
                    <section class="post-wrap is-vpadding-15">
                        <div class="spacing-15 is-hidden-mobile"></div>
                        {{!-- title --}}
                        <h1 class="title is-2 is-size-4-mobile is-montserrat">{{title}}</h1>

                        {{!-- tags --}}
                        {{#tag}}
                        <div class="buttons tags has-text-weight-semibold">
                            <span class="button is-static is-size-7-mobile">
                                {{#has tag="count:1"}}<i class="iconfont icon-tag"></i>{{/has}}
                                {{#has tag="count:>1"}}<i class="iconfont icon-tags"></i>{{/has}}</span>
                            {{#foreach tags}}
                            <a href="{{url}}" class="button is-light is-size-7-mobile has-text-weight-semibold">{{name}}</a>
                            {{/foreach}}
                        </div>
                        {{/tag}}

                        {{!-- content --}}
                        <div class="content post-content is-size-6-mobile is-georgia">{{content}}</div>
                        <div class="spacing-1 is-hidden-mobile"></div>
                    </section>
                </div>
            </article>
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</section>
{{/post}}


