{{!-- single tag page --}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- tag meta --}}
{{#tag}}
{{#if feature_image}}
<section class="hero tag-list-header is-bold bg-cover-center" style="background-image:url({{img_url feature_image size="wide"}});">
{{else}}
<section class="hero tag-list-header is-bold bg-cover-center" style="background-image: linear-gradient(to bottom right, #acffc5, #078ddb);">
{{/if}}
  <div class="hero-body has-darker-modal is-montserrat">
    <div class="container has-text-centered">
        <h1 class="title is-vmargin-2 is-capitalized has-text-white is-marginless-bottom">
            <span class="is-padding-05-15 round-border-6">
                <i class="iconfont icon-tag"></i> {{name}}
            </span>
        </h1>
        <h2 class="subtitle is-vmargin-2 has-text-white is-centered is-margin-auto" style="max-width:760px;">
            {{#if description}}
                {{description}}
            {{/if}}
        </h2>
        <div id="post-count" class="has-text-white">
            <a class="has-text-white" href="#post-count">
                <span class="has-dark-modal is-padding-05-15 round-border-2rem">
                    {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
                </span>
            </a>
        </div>
    </div>
  </div>
</section>
{{/tag}}

{{!-- main --}}
<main class="section">
    <div class="columns">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            {{#foreach posts}}
            
                {{!-- exclude #noindex --}}
                {{#has tag="#noindex"}}
                    {{!-- nothing --}}
                {{else}}
                    {{> list_card}}
                {{/has}}

                {{!-- inject something for every 3 items --}}
                {{#has number="nth:3"}} 
                    {{!-- {{> "something"}} --}}
                {{/has}}

            {{else}}
                {{t "There is no post yet."}}
            {{/foreach}}
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</main>

{{!-- pagination --}}
<section class="section is-padding-top-05">
    <div class="container">
        {{pagination}}
    </div>
</section>

